<html>  <head>       <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstr ap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstr ap-theme.min.css">
    <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap .min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet" type="text/css">

    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<form action="/gotohome" method="post">



        <div class="Grid-cell ">
        <div class="StartLayout-content">
            <div class="StartSetupProfile">
                <div class="StartSetupProfile-profileCard ">
                    <div class="StartSetupProfile-profileCardPhoto">
<div class=profile-photo>
                        <button class="u-boxShadowInsetUserColorHover" type="button" tabindex="2">
                            <div class="profilePhotoHelp">
                                <span class="Icon"></span>

                                <h1>Add a photo</h1>
                                <h2 style="color:gray">Show your unique personality and style.</h2>


                               <img src="http://localhost:3000/images/camera.png" height="42" width="42" class="squared">

                                <p><strong>Upload your photo</strong></p>

                                <input type="submit" style="color:white" class="submit-button" value="Continue" style="position:relative;left:0px;"></br></br>
                            </div>
                            <div class="StartSetupProfile-profileCardPhotoDrag StartSetupProfile-photoOverlay">
                            </div>
                            <div class="StartSetupProfile-profilePhotoOptions StartSetupProfile-photoOverlay">
                                <p>Click to change photo</p>

                            </div>

                        </button>
                    </div>
                </div>
            </div>
            </div>
            </div>


</div>





</form>

<script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>
<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>
</body>
</html>



