Today at 10:38 PM
----------------------------------------------------------------------
<html>
<head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>


</head>
<body ng-app="chirp">
<div>
    <h3>HomePage of twitter</h3>
<%=req.session.user_name%>
</div>



<div id='main' class="container" ng-controller="mainController">
    <div class="col-md-offset-2 col-md-8">
        <div class="clearfix">
            <form action="/insertTweet">
                <input required type="text" class="form-control" placeholder="Your name" ng-model="newPost.created_by" />
                <textarea required class="form-control" maxlength="140" rows="3" placeholder="Say something" ng-model="newPost.text" name="tweet_box"></textarea>
                <input class="btn submit-btn pull-right" type="submit" value="Tweet!" />

            </form>
        </div>
    </div>
</div>


<nav id="nav">
    <ul id="navigation">
        <li><a href="#">Profile</a>
            <ul>
                <li><a href="/updateProfile">View Profile</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Settings</a>
                </li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>